APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null

SERVICE_BUGSNAG_SECRET_API_KEY=00000000000000000000000000000000
SERVICE_MANDRILL_SECRET_API_KEY=0000_00000000000000000
SERVICE_STRIPE_SECRET_API_KEY=sk_test_000000000000000000000000
