@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
/*
 |--------------------------------------------------------------------------
 | Main Application Styles Manifest
 |--------------------------------------------------------------------------
 |
 | The main file (usually labelled app.scss) should be the only Sass 
 | file from the whole code base not to begin with an underscore. 
 | This file should only be containing @import and comments.
 |
 */
/*
 |--------------------------------------------------------------------------
 | Vendors
 |--------------------------------------------------------------------------
 |
 | Most projects will have a vendors/ folder containing all the CSS 
 | files from external libraries and frameworks. Putting those 
 | aside in the same folder is a way to say “Hey, this is 
 | not from me, not my code, not my responsibility”.
 |
 | Example: @import 'vendors/bootstrap';
 |
 */
/*
 |--------------------------------------------------------------------------
 | Twitter Bootstrap Overrides
 |--------------------------------------------------------------------------
 |
 */
/*
 |--------------------------------------------------------------------------
 | Components
 |--------------------------------------------------------------------------
 */
/**
 * Navbar
 */
.navbar-brand {
  z-index: 1; }

/**
 * Panels
 */
.panel-slim {
  max-width: 32rem; }

/*
 |--------------------------------------------------------------------------
 | Utilities
 |--------------------------------------------------------------------------
 |
 | The utilities/ folder gathers all Sass tools and helpers used 
 | across the project. Every global variable, function, mixin
 | and placeholder should be put in here. The rule of 
 | thumb for this folder is that it should not
 | output a single line of CSS when  
 | compiled on its own. These are
 | nothing but Sass helpers.
 |
 */
/*
 |--------------------------------------------------------------------------
 | Utilities - Layout
 |--------------------------------------------------------------------------
 |
 */
.u-headless > header, .u-footless > footer {
  display: none; }

.u-center-vertically {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

/*
 |--------------------------------------------------------------------------
 | Base
 |--------------------------------------------------------------------------
 |
 | The base/ folder holds what we might call the boilerplate code 
 | for the project. In there, you might find the reset file, 
 | some typographic rules, and probably a stylesheet, 
 | defining some standard styles for commonly 
 | used HTML elements.
 |
 */
/*
 |--------------------------------------------------------------------------
 | Global Style Reset
 |--------------------------------------------------------------------------
 |
 */
html {
  box-sizing: border-box;
  position: relative; }

*, *:before, *:after {
  box-sizing: inherit;
  position: relative; }

html, body {
  height: 100%; }

/*
 |--------------------------------------------------------------------------
 | Base
 |--------------------------------------------------------------------------
 |
 */
/*
 |--------------------------------------------------------------------------
 | Layout
 |--------------------------------------------------------------------------
 |
 | The layout/ folder contains everything that takes part in laying out 
 | the site or application. This folder could have stylesheets for 
 | the main parts of the site (header, footer, navigation…), 
 | the grid system or even CSS styles for all the forms.
 |
 */
/*
 |--------------------------------------------------------------------------
 | Components
 |--------------------------------------------------------------------------
 |
 | For smaller components, there is the components/ folder. While layout/ 
 | is macro (defining the global wireframe), components/ is focused
 | on widgets. It contains all kind of specific modules like a 
 | slider, a loader, a widget, and basically anything along 
 | those lines. There are usually a lot of files in 
 | components/ since the whole site/application 
 | should be mostly composed of tiny modules.
 |
 */
/*
 |--------------------------------------------------------------------------
 | Pages
 |--------------------------------------------------------------------------
 |
 | If you have page-specific styles, it is better to put them in a pages/ 
 | folder, in a file named after the page. For instance, it’s not 
 | uncommon to have very specific styles for the home page 
 | hence the need for a _home.scss file in pages/.
 |
 */
/*
 |--------------------------------------------------------------------------
 | Admin Specific Page Styles
 |--------------------------------------------------------------------------
 |
 */
h1:first-of-type, h2:first-of-type {
  margin-top: 0;
  margin-bottom: 1.618rem; }

.page--admin {
  background-color: #ebeef0;
  font-family: 'Roboto', sans-serif; }
  .page--admin aside {
    background-color: #31373d;
    box-shadow: 3px 0 9px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    position: fixed;
    width: 5.5rem; }
    .page--admin aside nav {
      height: 100%; }
  .page--admin .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    padding: 1.5rem 3rem 0rem 8.5rem;
    background-color: #31373d;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
    z-index: 1; }
    .page--admin .header .header__title {
      font-size: 2rem;
      color: #fff; }
  .page--admin main {
    padding: 8rem 3rem 3rem 8.5rem;
    width: 100%; }
  .page--admin .nav__item {
    color: #ebeef0;
    display: block;
    padding: 1.5rem 0;
    transition: background-color .28s ease-in-out; }
    .page--admin .nav__item.active, .page--admin .nav__item:hover {
      background-color: #262a2f; }
    .page--admin .nav__item.active {
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.15), inset 0 -1px 3px 0 rgba(0, 0, 0, 0.15); }
    .page--admin .nav__item.bottom {
      bottom: 0;
      left: 0;
      max-width: 100%;
      position: absolute;
      right: 0;
      z-index: 200; }
  .page--admin .full-height {
    height: 100vh;
    max-height: 100vh; }
  .page--admin .tooltip .tooltip-inner {
    max-width: 250px;
    min-width: 75px;
    padding: .8rem 1rem; }
  .page--admin .top-layer {
    z-index: 100; }
  .page--admin label small {
    color: #7a7a7a; }
  .page--admin .panel-group {
    margin-bottom: 0; }

.logger {
  min-height: 5rem;
  padding: 1.618rem; }
  .logger .logger__line:not(:last-child) {
    margin-bottom: 1.618rem; }
  .logger .logger__line-number:after {
    content: ":"; }

.text--faded {
  opacity: .5; }

.scrollable {
  overflow-y: auto; }
  .scrollable[data-max-height="450"] {
    max-height: 45rem; }

/*
 |--------------------------------------------------------------------------
 | Theme
 |--------------------------------------------------------------------------
 |
 | On large sites and applications, it is not unusual to have different 
 | themes. There are certainly different ways of dealing with themes 
 | but I personally like having them all in a themes/ folder.
 |
 | Example: @import 'themes/admin';
 |
 */

/*# sourceMappingURL=app.css.map */