/*
 |--------------------------------------------------------------------------
 | Main Application Styles Manifest
 |--------------------------------------------------------------------------
 |
 | The main file (usually labelled app.scss) should be the only Sass 
 | file from the whole code base not to begin with an underscore. 
 | This file should only be containing @import and comments.
 |
 */

/*
 |--------------------------------------------------------------------------
 | Vendors
 |--------------------------------------------------------------------------
 |
 | Most projects will have a vendors/ folder containing all the CSS 
 | files from external libraries and frameworks. Putting those 
 | aside in the same folder is a way to say “Hey, this is 
 | not from me, not my code, not my responsibility”.
 |
 | Example: @import 'vendors/bootstrap';
 |
 */

/*
 |--------------------------------------------------------------------------
 | Utilities
 |--------------------------------------------------------------------------
 |
 | The utilities/ folder gathers all Sass tools and helpers used 
 | across the project. Every global variable, function, mixin
 | and placeholder should be put in here. The rule of 
 | thumb for this folder is that it should not
 | output a single line of CSS when  
 | compiled on its own. These are
 | nothing but Sass helpers.
 |
 */

@import
  'utilities/variables',
  'utilities/functions',
  'utilities/mixins',
  'utilities/placeholders';

/*
 |--------------------------------------------------------------------------
 | Base
 |--------------------------------------------------------------------------
 |
 | The base/ folder holds what we might call the boilerplate code 
 | for the project. In there, you might find the reset file, 
 | some typographic rules, and probably a stylesheet, 
 | defining some standard styles for commonly 
 | used HTML elements.
 |
 */

 @import
  'base/reset',
  'base/typography';

/*
 |--------------------------------------------------------------------------
 | Layout
 |--------------------------------------------------------------------------
 |
 | The layout/ folder contains everything that takes part in laying out 
 | the site or application. This folder could have stylesheets for 
 | the main parts of the site (header, footer, navigation…), 
 | the grid system or even CSS styles for all the forms.
 |
 */

 @import
  'layout/navigation',
  'layout/grid',
  'layout/header',
  'layout/footer',
  'layout/sidebar',
  'layout/forms';

/*
 |--------------------------------------------------------------------------
 | Components
 |--------------------------------------------------------------------------
 |
 | For smaller components, there is the components/ folder. While layout/ 
 | is macro (defining the global wireframe), components/ is focused
 | on widgets. It contains all kind of specific modules like a 
 | slider, a loader, a widget, and basically anything along 
 | those lines. There are usually a lot of files in 
 | components/ since the whole site/application 
 | should be mostly composed of tiny modules.
 |
 */

 @import
  'components/buttons';

/*
 |--------------------------------------------------------------------------
 | Pages
 |--------------------------------------------------------------------------
 |
 | If you have page-specific styles, it is better to put them in a pages/ 
 | folder, in a file named after the page. For instance, it’s not 
 | uncommon to have very specific styles for the home page 
 | hence the need for a _home.scss file in pages/.
 |
 */

@import
  'pages/home',
  'pages/admin';

/*
 |--------------------------------------------------------------------------
 | Theme
 |--------------------------------------------------------------------------
 |
 | On large sites and applications, it is not unusual to have different 
 | themes. There are certainly different ways of dealing with themes 
 | but I personally like having them all in a themes/ folder.
 |
 | Example: @import 'themes/admin';
 |
 */

 